.typography
    display: flex
    flex-direction: column
    justify-content: start
    &__title
        margin-bottom: 24px
    &__description
        margin-bottom: 48px
    &-links
        &__button
            text-decoration: none
            color: $font-gray
            margin-right: 32px
            &:hover
                color: $font-black
                transition-duration: .5s
                padding-bottom: 5px
    &-line
        width: 95%
        margin-left: 12px
        margin-bottom: 48px
    &-menu
        display: flex
        flex-direction: column
        &__wrapper
            display: flex
            flex-direction: row
            margin-bottom: 48px
            &-param
                color: $font-gray
                &--1
